.ufokn {
  margin-top: 20px;
}

#hexlogo {
  height: 40px;
  float: left;
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.template-home img.logo {
  width: 120px;
}

.template-home .page-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  min-height: 0;
  margin: 2rem 0;
  padding: 2rem 0;
}

.navbar {
  background: #EA6E54 !important;
}

.row>main,
.row>aside {
  margin-top: 80px !important;
}

.page-header {
  padding-bottom: 2.5rem !important;
}
